
@{
    ViewBag.Title = "訂單查詢";
}

<h2>訂單查詢</h2>

<html>

<body>
    @using (Html.BeginForm("Index","Order",FormMethod.Post))
    {
        <table id="searchTable" border="1" style="width:100%" border-collapse="collapse" class="table table-bordered">
            <tr>
                <td>訂單編號</td>
                <td colspan="3"><input type="text" id="orderid" name="orderId" placeholder="請輸入訂單編號"></td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td colspan="3"><input type="text" id="custName" class="text" name="custName" placeholder="請輸入客戶姓名" /></td>
            </tr>
            <tr>
                <td>負責員工</td>
                <td colspan="3">
                    <select name="employee" class="dropdown" id="employee">
                        <option value="00">請選擇負責員工</option>
                        @if (ViewBag.emName != null)
                        {
                            foreach (var tmp in (List<String>)ViewBag.emName)
                            {
                                <option>@tmp</option>
                            }
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>出貨公司</td>
                <td colspan="3">
                    <select name="ship" class="dropdown" id="ship">
                        <option value="00">請選擇出貨公司</option>
                        @if (ViewBag.coName != null)
                        {
                            foreach (var tmp in (List<String>)ViewBag.coName)
                            {
                                <option>@tmp</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td><input type="date" id="orderDate" class="date" name="orderDate" /></td>

                <td>出貨日期</td>
                <td><input type="date" id="shipDate" class="date" name="shipDate" /></td>

            </tr>
            <tr>
                <td>需要日期</td>
                <td colspan="3"><input type="date" id="needDate" class="date" name="needDate" /></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="submit" value="查詢" class="btn btn-info" onclick="search()" />
                    <input type="reset" value="清除" class="btn btn-warning" />
                    <a href="/Order/Insert"><input type="button" value="新增訂單" class="btn btn-primary" /></a>
                </td>
            </tr>
        </table>
    }
    
    <script>
    $(function () {

        $(".text").kendoMaskedTextBox();
        $("#orderid").kendoNumericTextBox({
            format: "#",
            min: 10248,
        });
        $(".dropdown").kendoComboBox({
            filter: "contains",
            suggest: true,
        });
        $(".date").kendoDatePicker({
            format: "yyyy/MM/dd",
            animation: {
                close: {
                    effects: "fadeOut zoom:out",
                    duration: 300
                },
                open: {
                    effects: "fadeIn zoom:in",
                    duration: 300
                }
            }
        });
        $(".btn").kendoButton();


    });

       
    @*function search() {

        var dataSrc = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "GET",
                    url: '@Url.Action("DataSource", "Order")',
                    dataType: "json",
                    data: {
                        orderId: function(){
                            return $("#orderid").val();
                        },
                        //custName: function () {
                        //    return $("#custName").val();
                        //},
                        //employee: function () {
                        //    return $("#employee").val();
                        //},
                        //ship: function () {
                        //    return $("#ship").val();
                        //},
                        //orderDate: function () {
                        //    return $("#orderDate").val();
                        //},
                        //shipDate: function () {
                        //    return $("#shipDate").val();
                        //},
                        //needDate: function () {
                        //    return $("#needDate").val();
                        //}
                    }
                }
            },
            schema: {
                model: {

                    id: "OrderID",
                    fields:
                        {
                            OrderID: { editable: false, nullable: false },
                            CompanyName: { editable: false, nullable: false },
                            OrderdDate: { editable: true, nullable: false },
                            ShippedDate: { editable: true, nullable: false },
                        }
                }
            },
            pageSize: 10,
        });


        console.log(dataSrc);
        $("#dvGrid").kendoGrid({
            dataSource: dataSrc,
            columns: [
                {
                    field: "OrderID", title: "訂單編號",
                },
                {
                    field: "CompanyName", title: "客戶名稱",
                },
                {
                    field: "OrderdDate", title: "訂購日期",
                    template: "#= kendo.toString(kendo.parseDate(OrderdDate, 'yyyy/MM/dd'),'yyyy-MM-dd') #"
                },
                {
                    field: "ShippedDate", title: "發貨日期",
                    template: "#= kendo.toString(Date(ShippedDate), 'yyyy/MM/dd') #"
                }
            ],
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    }*@


    </script>

    <div id="dvGrid"></div>
</body>

</html>




