
@{
    ViewBag.Title = "訂單查詢";
}

<h2>訂單查詢</h2>

<html>

<body>
    @using (Html.BeginForm("Index", "SearchData", FormMethod.Post))
    {

        <table border="1" style="width:100%" border-collapse="collapse">
            <tr>
                <th>訂單編號</th>
                <td colspan="3"><input type="text" name="orderId"></td>
            </tr>
            <tr>
                <th>客戶名稱</th>
                <td colspan="3"><input type="text" name="custName" /></td>
            </tr>
            <tr>
                <th>負責員工</th>
                <td colspan="3">
                    <select name="employee">
                        <option value="00">請選擇負責員工</option>
                        @if (ViewBag.emName != null)
                        {
                            foreach (var tmp in (List<String>)ViewBag.emName)
                            {
                                <option>@tmp</option>
                            }
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <th>出貨公司</th>
                <td colspan="3">
                    <select name="ship">
                        <option value="00">請選擇出貨公司</option>
                        @if (ViewBag.coName != null)
                        {
                            foreach (var tmp in (List<String>)ViewBag.coName)
                            {
                                <option>@tmp</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>訂購日期</th>
                <td><input type="date" name="orderDate" /></td>

                <th>出貨日期</th>
                <td><input type="date" name="shipDate" /></td>

            </tr>
            <tr>
                <th>需要日期</th>
                <td colspan="3"><input type="date" name="needDate"/></td>
            </tr>
            <tr>
                <th></th>
                <td colspan="3">
                    <input type="submit" value="查詢">
                    <input type="reset" value="清除">
                    <input type="button" value="新增訂單">
                </td>
            </tr>
        </table>
    }
        
    
</body>

</html>

